---
// Props
const { nombreActual } = Astro.props

// Productos disponibles
const productos = [
  {
    nombre: "Bioplastia",
    slug: "bioplastia",
    descripcion: "Nuestro producto estrella te ayudará a obtener lacios increíbles, incluso en cabello con decoloración sana.",
    imagen: "https://media.wapastudio.com/keratina-bioplastia-tienda-web.webp",
  },
  {
    nombre: "Ultra Gold",
    slug: "ultra-gold",
    descripcion: "Consigue un lacio increíble en cabello con ondas marcadas y rebeldes.",
    imagen: "https://media.wapastudio.com/keratina-ultra-gold-tienda-web.webp",
  },
  {
    nombre: "Nanobotox",
    slug: "nanobotox",
    descripcion: "Para cabello muy maltratado, deshidratado y para relajar ondas.",
    imagen: "https://media.wapastudio.com/keratina-nanobotox-tienda-web.webp",
  },
  
]

// Filtra el producto actual
const otrosProductos = productos.filter(p => p.slug !== nombreActual)
---

<div class="max-w-screen-lg mx-auto pb-12 px-4">
  <h2 class="text-2xl font-medium text-gray-800 mb-8">
    Otros Productos
  </h2>

  <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {otrosProductos.map(producto => (
      <div
        class="bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300"
      >
        <img
          src={producto.imagen}
          alt={producto.nombre}
          class="w-full h-80 object-cover rounded-t-xl"
        />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">
            {producto.nombre}
          </h3>
          <p class="text-sm text-gray-600 mb-4">
            {producto.descripcion}
          </p>
          <a
            href={`/tienda/${producto.slug}`}
            class="inline-block px-4 py-2 bg-black text-white text-sm font-medium rounded hover:bg-black relative overflow-hidden"
          >
            <span
              class="relative z-10 hover:text-transparent bg-clip-text hover:bg-gradient-to-r hover:from-yellow-400 hover:via-yellow-500 hover:to-yellow-600"
            >
              Ver más
            </span>
          </a>
        </div>
      </div>
    ))}
  </div>
</div>
