---
const { href, text, className, eventName = "InitiateCheckout", eventData = { value: 0, currency: "MXN" } } = Astro.props;
const uid = crypto.randomUUID();
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  data-event-name={eventName}
  data-event-data={JSON.stringify(eventData)}
  data-uid={uid}
  class={`trackBtn ${className}`}
  id={uid}
>
  {text}
</a>


