---
import Layout from "../layouts/Layout-manual.astro";
import egipcias from "../images/ebook/que-es/egipcias.webp";
import Nocourse from "../components/Nocourse.astro";
import Indice from "../components/indice.astro";
import Clasegratis from "../components/clase-gratis/clase-gratis.astro";

import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const email = data?.user?.email;
const name = data?.user?.user_metadata?.full_name;

// Verificar si el usuario tiene cursos vinculados
let cursosVinculados = [];

const { data: cursosIds, error: cursosError } = await supabase
  .from("usuarios_cursos")
  .select("curso_id")
  .eq("usuario_id", data?.user?.id);

if (cursosError) {
  console.error(
    "Error al verificar los cursos del usuario:",
    cursosError.message,
  );
} else if (cursosIds && cursosIds.length > 0) {
  const ids = cursosIds.map((curso) => curso.curso_id);

  const { data: cursos, error: detallesError } = await supabase
    .from("cursos")
    .select("*")
    .in("id", ids);

  if (detallesError) {
    console.error(
      "Error al obtener los detalles de los cursos:",
      detallesError.message,
    );
  } else {
    cursosVinculados = cursos;
  }
}

// Nuevo: verificar si el usuario tiene el curso "Alaciado"
const tieneCursoAlaciado = cursosVinculados.some(
  (curso) => curso.title && curso.title.toLowerCase().includes("alaciado")
);
const tieneCursoGratis = cursosVinculados.some(
  (curso) => curso.title && curso.title.toLowerCase().includes("clase-gratis")
);
---

<Layout title="" description="" lightColor={true}>
   
  {tieneCursoAlaciado ? (
      <>
  <section>
    <div class="relative">
      <video
        autoplay
        playsinline
        muted
        loop
        src="https://media.wapastudio.com/wapa-video-portada-manual-2.mov"
        class="w-full sm:h-full hidden sm:block"></video>

      <video
        autoplay
        playsinline
        muted
        loop
        src="https://media.wapastudio.com/wapa-video-portada-manual-mobile.mov"
        class="w-full object-cover h-[75vh] block sm:hidden"></video>

      <!-- Degradado blanco arriba -->
      <div
        class="absolute inset-0 bg-gradient-to-b from-transparent to-white pointer-events-none"
      >
      </div>

      <!-- Título centrado arriba -->
      <div
        class="absolute inset-0 hidden sm:flex items-end justify-center z-10 bottom-20"
      >
        <div class="flex flex-col items-center">
          <h2 class="text-3xl font-semibold text-black text-center">
            Hola 👋 {name}
          </h2>
          <p class="text-base text-gray-600 text-center">
            Bienvenidx a tu manual de alisados progresivos
          </p>
        </div>
      </div>
    </div>
    <!-- Título mobile  -->
    <div class="flex flex-col sm:items-center z-10 px-6 sm:hidden">
      <h2 class="text-2xl font-semibold text-black text-start sm:text-center">
        Hola 👋 {name}
      </h2>
      <p class="text-base text-gray-600 text-start">
        Bienvenid@ a tu manual de alisados progresivos
      </p>
    </div>
  </section>
  <!-- Titulo -->
  <section class="px-6 max-w-screen-lg mx-auto">
    <div class=" mt-8 md:mt-10 flex flex-col-reverse sm:flex-col">
      <!-- Texto -->
      <h2
        class="text-2xl md:text-4xl font-semibold text-start  sm:text-center mb-10"
      >
        Aquí aprenderás los fundamentos del alisado capilar, su historia y la
        ciencia detrás de la fibra capilar.
      </h2>
    </div>
  </section>
  <!-- indice-->
  <div class="sticky top-2 z-10 rounded-xl mb-10 max-w-screen-lg px-8 mx-auto">
    <Indice />
  </div>

  <!-- tema 1 -->
  <section class="max-w-screen-sm mx-auto px-6">
    <div class="flex items-center gap-2">
      <p class="whitespace-nowrap text-gray-400">Tema 1</p>
      <div class="bg-slate-200 h-px w-full"></div>
    </div>
    <article
      class="bg-white p-2 py-6 rounded-lg basis-1/2"
      id="que-son-los-alisados"
    >
      <h2 class="text-2xl font-semibold text-accent mb-2">
        ¿Qué es un alisado?
      </h2>
      <p class="text-gray-700">
        Un alisado es un tratamiento que se realiza al cabello con el objetivo
        de hacerlo más liso, suave y sin frizz. En lugar de tener el cabello
        rizado o con ondas, el alisado lo deja más lacio y manejable.
      </p>
    </article>

    <img class="rounded-md" src={egipcias.src} alt="" />

    <article class="p-2 py-6 rounded-lg basis-1/2" id="origen-de-los-alisados">
      <h2 class="text-2xl font-semibold text-accent mb-2">
        El origen de los alisados
      </h2>
      <p class="text-gray-700">
        En algunas culturas antiguas, como en el Antiguo Egipto, las personas ya
        utilizaban herramientas rudimentarias para alisar el cabello. En esos
        tiempos se usaban hierbas y aceites naturales para intentar suavizar y
        controlar el cabello, especialmente entre la clase alta, que se
        preocupaba por mantener un estilo de vida estético.
      </p>
    </article>
  </section>

  <!--Boton siguiente tema  -->
  <button class="flex justify-center mx-auto mt-8">
    <a
      href="/cursos/alisado/tricologia"
      class="inline-flex items-center px-6 py-3 rounded-lg font-semibold text-lg transition-all duration-200
           text-yellow-800 bg-gradient-to-r from-[#ffe082] to-[#fff8e1]
           hover:from-[#ffd54f] hover:to-[#fff3c0]"
    >
      Siguiente 
      <svg
        class="ml-2 w-6 h-6 text-yellow-700"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </a>
  </button>
  </>
  ) : tieneCursoGratis ? (
    <Clasegratis name={name} />
    )
    : (
 <Nocourse />
  )
  }
</Layout>
