---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import og from "../images/og-image.jpg";
import PostHog from "../components/posthog.astro";
import Google from "../components/google.astro";
import Pixel from "../components/pixel.astro";
import Pageview from "../components/events-meta/pageview.astro";

interface Props {
	title: string;
	description: string;
	lightColor?: boolean;
	ogimage?: string;
	isIndexable?: boolean;
	canonical?: string;
	pageviewData?: Record<string, any>;
}

const { title, description, ogimage, isIndexable, canonical, pageviewData } =
	Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="icon"
			href="/favicon-32x32.png"
			sizes="32x32"
			type="image/png"
		/>
		<link
			rel="icon"
			href="/favicon-16x16.png"
			sizes="16x16"
			type="image/png"
		/>
		<meta property="og:image" content={ogimage ? ogimage : og.src} />
		<meta name="generator" content={Astro.generator} />
		{canonical && <link rel="canonical" href={canonical} />}
		<slot name="head" />
		<meta
			name="robots"
			content={isIndexable ? "index, follow" : "noindex, nofollow"}
		/>
		<script
			src="https://challenges.cloudflare.com/turnstile/v0/api.js"
			async
			defer></script>
		<title>{title}</title>
		<Google />
		<PostHog />
		<Pageview customData={pageviewData} />
		<!-- Meta Pixel Code -->
		<!-- Meta Pixel Code -->
		<script type="module">
			!(function (f, b, e, v, n, t, s) {
				if (f.fbq) return;
				n = f.fbq = function () {
					n.callMethod
						? n.callMethod.apply(n, arguments)
						: n.queue.push(arguments);
				};
				if (!f._fbq) f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = "2.0";
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s);
			})(
				window,
				document,
				"script",
				"https://connect.facebook.net/en_US/fbevents.js",
			);
			fbq("init", "1773971123502906");
			fbq("track", "PageView");
		</script>
		<noscript
			><img
				height="1"
				width="1"
				style="display:none"
				src="https://www.facebook.com/tr?id=1773971123502906&ev=PageView&noscript=1"
			/></noscript
		>

		<!-- End Meta Pixel Code -->
		
	</head>
	<body class="relative">
		<Nav lightColor={Astro.props.lightColor} />
		<slot />
		<Footer />
		 <script type="module" src="/scripts/trackButtons.js"></script>
	</body>
</html>
