---
import Navmanual from "../components/Nav-manual.astro";
import Footer from "../components/Footer-manual.astro";
import og from "../images/og-image.jpg";
import PostHog from "../components/posthog.astro";

interface Props {
    title: string;
    description: string;
    lightColor?: boolean;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta property="og:image" content={og.src} />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="noindex, nofollow" />
        <link
            href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://challenges.cloudflare.com/turnstile/v0/api.js"
            async
            defer></script>
        <title>{title}</title>
        <PostHog />
    </head>
    <body class="relative">
        <style>
            html,
            body {
                -webkit-user-select: none; /* Safari/iOS */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Estándar */
                touch-action: manipulation; /* Mejora compatibilidad móvil sin bloquear scroll */
            }
        </style>

        <Navmanual lightColor={Astro.props.lightColor} />
        <slot />
        <Footer />
        <!-- Script no copiar texto -->
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                // Bloquea copiar
                document.addEventListener("copy", (e) => {
                    e.preventDefault();
                });

                // Bloquea cortar
                document.addEventListener("cut", (e) => {
                    e.preventDefault();
                });

                // Bloquea clic derecho (menú contextual)
                document.addEventListener("contextmenu", (e) => {
                    e.preventDefault();
                });
            });
        </script>
    </body>
</html>
