---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import og from "../images/og-image.jpg";
import PostHog from "../components/posthog.astro";
import Google from "../components/google.astro";

interface Props {
	title: string;
	description: string;
	lightColor?: boolean;
	ogimage?: string;
	isIndexable?: boolean;
	canonical?: string;
}

const { title, description, ogimage, isIndexable, canonical } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="icon"
			href="/favicon-32x32.png"
			sizes="32x32"
			type="image/png"
		/>
		<link
			rel="icon"
			href="/favicon-16x16.png"
			sizes="16x16"
			type="image/png"
		/>
		<meta property="og:image" content={ogimage ? ogimage : og.src} />
		<meta name="generator" content={Astro.generator} />
		{canonical && <link rel="canonical" href={canonical} />}
		<meta
			name="robots"
			content={isIndexable ? "index, follow" : "noindex, nofollow"}
		/>
		<script
			src="https://challenges.cloudflare.com/turnstile/v0/api.js"
			async
			defer></script>
		<title>{title}</title>
		<Google />
		<PostHog />
	</head>
	<body class="relative">
		<Nav lightColor={Astro.props.lightColor} />
		<slot />
		<Footer />
	</body>
</html>
