---
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description="" lightColor={true}>
  <div class="lg:max-w-screen-md m-auto px-2 lg:my-10">
    <a class="flex flex-wrap items-center" href="../../blog">
      <p class="text-[#929191] hover:text-[#2AA0D9]">
        <span>&larr;</span> ir atrás
      </p>
    </a>

    <h1 class="text-4xl my-5 font-semibold">{frontmatter.title}</h1>
    <img
      src={frontmatter.image.url}
      class="w-full rounded-xl"
      alt={frontmatter.image.alt}
    />
    <div class="my-5 ml-2 flex flex-wrap gap-4">
      <p class="py-2">Escrito por: {frontmatter.author}</p>
      <p class="py-2">
        Publicado el: {
          new Date(frontmatter.pubDate).toLocaleDateString("es-ES", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
      <p class="bg-[#2AA0D9] text-white p-2 rounded-lg">{frontmatter.tags.join(", ")}</p>
    </div>
    

    <!-- Aquí se renderiza el contenido del Markdown -->
    <article class="prose prose-lg my-5">
      <slot />
    </article>
  </div>
</BaseLayout>
